@charset "UTF-8";

:root {
  --color-primary: #ffffff;
  --color-light: #98d75b;
  --bg-main: #475863;
  --color-hover-primary: #98D75B;
  --title-color: #ffffff;
  --helper-light-any: #98D75B;
  --i-green: #98D75B;
  --i-white: #ffffff;
  --size-big: 20px;
  --size-any: 18px;
  --size-medium: 16px;
  --size-primary: 14px;
  --size-v-small: 12px;
  --primary-radius: 5px;
  --any-radius: 8px;
  --btn-bg-primary: transparent;
  --btn-color-primary: #ffffff;
  --btn-radius: 5px;
  --btn-size: 16px;
  --btn-border: 1px solid #ffffff;
  --input-radius: 5px;
  --input-place-holder: #999999;
  --input-color: #000000;
  --fontFamilyPrimary: 'Gotham Pro', sans-serif;
  --fontWeightPrimary: 400;
  --transition: all .4s ease;
  --border-primary: 1px solid rgba(255, 255, 255, 0.2);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: var(--size-primary);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: var(--fontFamilyPrimary);
  font-weight: var(--fontWeightPrimary);
  color: var(--color-primary);
  line-height: 140%;
  background-color: var(--bg-main);
  scroll-behavior: smooth;
}

a {
  color: var(--color-primary);
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  display: block;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  line-height: 135%;
}

/* --------------- */

/* Global Style main */

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main--ind {
  margin-top: 120px;
}

.scroll {
  scrollbar-color: #c4c4c4 #eff3f9;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #eff3f9;
  width: 3px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c4c4c4;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-any-wrap {
  background-color: #27343d;
}

.content-wrapper {
  padding-top: 60px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.head {
  font-size: var(--size-medium);
  line-height: 140%;
}

.head > *:not(:last-child) {
  margin-bottom: 20px;
}

.line-th {
  text-decoration: line-through;
}

.decoration {
  text-decoration: underline;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-120 {
  margin-bottom: 120px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-120 {
  padding-bottom: 120px;
}

.logo__wrap {
  display: block;
  width: 170px;
  height: 77px;
}

.logo__wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

img {
  max-width: 100%;
}

.body-lock {
  overflow: hidden;
}

.title {
  color: var(--title-color);
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.title-primary {
  font-size: 48px;
}

.title-any {
  font-size: 32px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 600;
  color: var(--btn-color-primary);
  border-radius: var(--btn-radius);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  padding: 5px 25px;
  min-height: 50px;
  font-size: var(--btn-size);
  cursor: pointer;
  font-weight: 400;
}

.btn-primary {
  background-color: var(--btn-bg-primary);
  border: var(--btn-border);
}

.btn-primary:hover {
  background-color: #6f777c;
}

.btn-any {
  background-color: #475863;
}

.btn-any:hover {
  background-color: #48555e;
}

.btn-others {
  background-color: #fff;
  color: #24292D;
}

.btn-others:hover {
  background-color: #ccc6c6;
}

.body-lock {
  overflow: hidden;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden {
  overflow: hidden;
}

.error {
  border: 2px #ff4019 solid !important;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url("../fonts/gothampro_black.woff") format("woff"), url("../fonts/gothampro_black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url("../fonts/gothampro_bold.woff") format("woff"), url("../fonts/gothampro_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url("../fonts/gothampro_medium.woff") format("woff"), url("../fonts/gothampro_medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url("../fonts/gothampro.woff") format("woff"), url("../fonts/gothampro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url("../fonts/gothampro_light.woff") format("woff"), url("../fonts/gothampro_light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Brutal Type";
  font-display: swap;
  src: url("../fonts/brutalType-Light.woff") format("woff"), url("../fonts/brutalType-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../libs/icomoon/fonts/icomoon.eot?b7wuz6");
  src: url("../libs/icomoon/fonts/icomoon.eot?b7wuz6#iefix") format("embedded-opentype"), url("../libs/icomoon/fonts/icomoon.ttf?b7wuz6") format("truetype"), url("../libs/icomoon/fonts/icomoon.woff?b7wuz6") format("woff"), url("../libs/icomoon/fonts/icomoon.svg?b7wuz6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"],
[class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-location:before {
  content: "";
}

.i-convert:before {
  content: "";
}

.i-twitter:before {
  content: "";
}

.i-vk:before {
  content: "";
}

.i-telegram:before {
  content: "";
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(71, 88, 99, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.popup.active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.popup__btn-close {
  position: absolute;
  top: 23px;
  right: 11px;
  min-width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(71, 88, 99, 0.07);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.popup__btn-close:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.popup__btn-close:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  opacity: .8;
}

.popup__btn-close:before {
  content: '';
  background: var(--helper-light-any);
  position: absolute;
  height: 15px;
  width: 2px;
  border: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.popup__btn-close:after {
  content: '';
  background: var(--helper-light-any);
  position: absolute;
  height: 15px;
  width: 2px;
  border: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.popup__wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.popup__content {
  max-width: 520px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 50px 40px 30px 40px;
  background: #fff;
  border-radius: var(--any-radius);
  color: #475863;
}

.popup__inner {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 10px;
}

.popup__form .form__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.popup__form .form__input {
  border-bottom: 1px solid rgba(36, 41, 45, 0.3);
}

.popup__form .form-control {
  color: black;
}

.popup__form .form-control::-webkit-input-placeholder {
  color: rgba(36, 41, 45, 0.3);
}

.popup__form .form-control::-moz-placeholder {
  color: rgba(36, 41, 45, 0.3);
}

.popup__form .form-control:-ms-input-placeholder {
  color: rgba(36, 41, 45, 0.3);
}

.popup__form .form-control::-ms-input-placeholder {
  color: rgba(36, 41, 45, 0.3);
}

.popup__form .form-control::placeholder {
  color: rgba(36, 41, 45, 0.3);
}

.popup__head {
  font-size: var(--size-medium);
}

.popup__head > *:not(:last-child) {
  margin-bottom: 20px;
}

.popup__title {
  font-size: 20px;
  padding-right: 40px;
}

.popup__any-text {
  font-size: var(--size-v-small);
}

.popup__any-text a {
  color: #6aa1cf;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
  row-gap: 20px;
}

.grid__item {
  padding: 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3%;
          flex: 0 1 33.3%;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
  row-gap: 25px;
}

.form__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3%;
          flex: 1 1 33.3%;
  padding: 0 20px;
}

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form__politic {
  font-size: var(--size-v-small);
}

.form__politic a {
  color: #6aa1cf;
}

.form-control {
  font-size: 18px;
  font-weight: 400;
  min-height: 36px;
  background-color: transparent;
  width: 100%;
  color: var(--color-primary);
  padding-bottom: 20px;
}

.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.form-control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
}

.breadcrumb__item {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.breadcrumb__item a {
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.breadcrumb__item a:hover {
  color: var(--color-hover-primary);
}

.breadcrumb__item + .breadcrumb__item:before {
  content: "/";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  margin: 0 5px;
  color: #fff;
}

.breadcrumb__item.active {
  font-weight: 400;
  color: var(--color-light);
}

.arrow-slider-prev,
.arrow-slider-next {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: var(--border-primary);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.arrow-slider-prev:hover,
.arrow-slider-next:hover {
  border-color: var(--helper-light-any);
}

.arrow-slider-prev:after,
.arrow-slider-next:after {
  font-size: 0;
}

.text-block--gradient {
  position: relative;
}

.text-block--gradient:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 31, 31, 0.6)), to(#27343D));
  background: -o-linear-gradient(top, rgba(31, 31, 31, 0.6) 0%, #27343D 100%);
  background: linear-gradient(180deg, rgba(31, 31, 31, 0.6) 0%, #27343D 100%);
}

.text-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  min-height: 550px;
}

.text-block__content {
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 38px;
  line-height: 140%;
  max-width: 800px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7);
}

.text-block__any {
  font-style: italic;
  color: var(--color-primary);
}

.text-block__social {
  display: none;
  position: relative;
  z-index: 2;
}

.select2-container {
  width: 48px !important;
  margin-right: 12px;
}

.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: auto;
  width: auto;
  top: 9px;
}

.has-countryflag {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}

.select2-selection__rendered {
  width: 20px;
  height: 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 20px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  border-radius: 50%;
  border: var(--border-primary);
}

.social__item:hover {
  border-color: var(--helper-light-any);
  color: var(--color-hover-primary);
}

.social__item span {
  font-size: 16px;
}

.text {
  font-size: var(--size-medium);
  line-height: 140%;
}

.street-any {
  position: relative;
}

.street-any:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(16.06deg, rgba(18, 22, 25, 0.15) 0%, rgba(18, 22, 25, 0) 100%);
  background: linear-gradient(73.94deg, rgba(18, 22, 25, 0.15) 0%, rgba(18, 22, 25, 0) 100%);
}

.street-any__wrapper {
  position: relative;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.street-any__image {
  position: absolute;
  top: 0;
  left: 50px;
}

.street-any__content {
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 30px 70px 30px 30px;
  text-transform: uppercase;
}

.street-any__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.street-any__info > *:not(:last-child) {
  margin-right: 40px;
}

.street-any__small {
  font-size: var(--size-primary);
  line-height: 100%;
}

.street-any__medium {
  font-size: 45px;
  font-weight: 300;
  font-family: 'Brutal Type', sans-serif;
  line-height: 100%;
}

.street-any__big {
  font-size: 150px;
  line-height: 80%;
  font-weight: 300;
  font-family: 'Brutal Type', sans-serif;
}

.any-card {
  border-radius: var(--any-radius);
  overflow: hidden;
  min-height: 260px;
  position: relative;
  -webkit-box-shadow: 0px 15px 15px 5px rgba(63, 63, 63, 0.1);
          box-shadow: 0px 15px 15px 5px rgba(63, 63, 63, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.any-card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(31, 31, 31, 0.65)), to(rgba(31, 31, 31, 0.65)));
  background: -o-linear-gradient(bottom, rgba(31, 31, 31, 0.65), rgba(31, 31, 31, 0.65));
  background: linear-gradient(0deg, rgba(31, 31, 31, 0.65), rgba(31, 31, 31, 0.65));
}

.any-card__number {
  font-size: 24px;
  font-weight: 500;
}

.any-card__content {
  position: relative;
  z-index: 2;
  padding: 30px 20px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.any-card__text {
  font-size: var(--size-big);
  text-transform: uppercase;
  margin-top: auto;
  padding-top: 10px;
  line-height: 140%;
}

.item-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.item-contacts__body {
  background: -o-linear-gradient(335.6deg, rgba(36, 41, 45, 0.6) 0%, rgba(60, 73, 82, 0.6) 50.29%, rgba(36, 41, 45, 0.6) 99.4%), #24292D;
  background: linear-gradient(114.4deg, rgba(36, 41, 45, 0.6) 0%, rgba(60, 73, 82, 0.6) 50.29%, rgba(36, 41, 45, 0.6) 99.4%), #24292D;
  -webkit-box-shadow: 10px 10px 100px rgba(61, 75, 84, 0.7);
          box-shadow: 10px 10px 100px rgba(61, 75, 84, 0.7);
  border-radius: var(--any-radius);
  padding: 30px 25px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.item-contacts__name {
  font-size: var(--size-big);
  margin-bottom: 20px;
}

.item-contacts__center {
  margin-bottom: 20px;
}

.item-contacts__center a {
  font-weight: 500;
}

.item-contacts__label {
  text-transform: uppercase;
  font-size: var(--size-medium);
  margin-bottom: 15px;
}

.item-contacts__link {
  font-size: 30px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.item-contacts__link:hover {
  color: var(--color-hover-primary);
}

.item-contacts__block {
  margin-bottom: 14px;
}

.item-contacts__btn {
  font-weight: 600;
  margin-top: auto;
  padding: 5px 15px;
  width: 100%;
  max-width: 228px;
}

.floors-rent {
  padding: 40px 44px;
  border-radius: var(--primary-radius);
  border: var(--border-primary);
}

.floors-rent__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.floors-rent__text {
  font-size: 24px;
  font-weight: 500;
  margin-right: 7%;
}

.floors-slider {
  position: relative;
}

.floors-slider__wrapper {
  position: relative;
  width: 100%;
  max-width: 537px;
  margin: 0 auto;
}

.floors-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 480px;
  position: relative;
}

.floors-slider__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.area-floors {
  width: 100%;
  height: 100%;
}

.area-block {
  position: absolute;
  width: 170px;
  height: 125px;
  z-index: 1000;
}

.baloon {
  display: inline-block;
  min-width: 110px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 130%;
  background: #777777;
  color: #ffffff;
}

.zone-map {
  top: 0;
  right: 0;
}

.zone-cafe1 {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
}

.zone-2 {
  top: 0;
  right: 0;
}

.zone-4 {
  top: 0;
  left: 150px;
}

.zone-cafe2 {
  top: 150px;
  left: 0;
}

.zone {
  bottom: 0;
  right: 0;
}

.floors-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: static;
  row-gap: 10px;
}

.floors-pagination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  height: 41px;
  border: var(--border-primary);
  border-radius: 3.6px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--size-medium);
}

.floors-pagination__item:not(:last-child) {
  margin-right: 7px;
}

.floors-pagination__item:hover {
  border: 1px solid var(--helper-light-any);
  color: var(--color-light);
}

.floors-pagination__item--active {
  border-color: var(--helper-light-any);
  color: var(--color-light);
}

.claim__content {
  padding: 50px 40px 60px 40px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.claim__image {
  position: absolute;
  top: 50px;
  right: 40px;
  width: 90px;
  height: 90px;
}

.claim__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.claim__title {
  padding-right: 100px;
}

.claim__head {
  font-size: var(--size-medium);
}

.claim__head p {
  max-width: 502px;
}

.claim__form .form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__top {
  border-top: var(--border-primary);
  border-bottom: var(--border-primary);
  padding: 8px 0px;
}

.info__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px;
  margin-right: 140px;
}

.info__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 10px 20px 10px 30px;
  min-height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.info__item:not(:last-child) {
  border-right: var(--border-primary);
}

.info__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__item-icon {
  font-size: 18px;
  color: var(--i-green);
  margin-right: 10px;
}

.info__item-tel {
  text-align: center;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  font-size: var(--size-big);
}

.info__item-tel:hover {
  color: var(--color-hover-primary);
}

.nav-info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.nav-info__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3%;
          flex: 0 1 33.3%;
  padding: 0 10px;
}

.nav-info__item a {
  display: inline-block;
  font-size: var(--size-v-small);
  font-weight: 500;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.nav-info__item a:not(:last-child) {
  margin-right: 40px;
}

.nav-info__item a:hover {
  color: var(--color-hover-primary);
}

.block-any__wrapper {
  position: relative;
}

.block-any__social {
  display: none;
}

.block-any__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
  gap: 10px 0px;
}

.block-any__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 20px;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.features__end {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 460px;
          flex: 0 1 460px;
}

.features__start {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.stat__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
  gap: 15px 0px;
}

.stat__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3%;
          flex: 0 1 33.3%;
  padding: 0 10px;
}

.stat__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  font-size: var(--size-medium);
  white-space: nowrap;
}

.stat__count {
  font-size: 48px;
  color: var(--color-light);
  font-weight: 500;
  line-height: 100%;
}

.stat__value {
  margin-left: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: var(--size-any);
}

.bank-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bank-block__text {
  margin-right: 24px;
}

.bank-block__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 10px 10px;
}

.bank-block__image {
  background: #475863;
  border-radius: 10px;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bank-block__image img {
  max-width: 90%;
  max-height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts__wrapper {
  width: 100%;
  max-width: 763px;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.contacts__item {
  padding: 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.maps__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--size-medium);
}

.maps__location span {
  color: var(--i-green);
  font-size: 25px;
  margin-right: 7px;
}

#map {
  border-radius: var(--any-radius);
  overflow: hidden;
  height: 390px;
  width: 100%;
}

.location__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 140px;
}

.location__text {
  line-height: 155%;
}

.location__text > *:not(:last-child) {
  margin-bottom: 20px;
}

.location__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
}

.info-location {
  padding: 30px 20px;
  background-color: #475863;
  border-radius: 10px;
  overflow: hidden;
}

.info-location__block:not(:last-child) {
  margin-bottom: 30px;
}

.info-location__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--size-medium);
}

.info-location__item:not(:last-child) {
  margin-bottom: 5px;
}

.info-location__icon {
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .main--ind {
    margin-top: 100px;
  }

  .container {
    max-width: 820px;
  }

  .content-wrapper {
    max-width: 820px;
  }

  .logo__wrap {
    width: 150px;
  }

  .grid {
    margin: 0 -10px;
  }

  .grid__item {
    padding: 0 10px;
  }

  .form__row {
    margin: 0 -10px;
  }

  .form__item {
    padding: 0 10px;
  }

  .form-control {
    font-size: 14px;
    padding-bottom: 16px;
  }

  .text-block__content {
    font-size: 36px;
    max-width: 730px;
  }

  .text-block__social {
    display: block;
    margin-top: 40px;
  }

  .text-block__social .social {
    gap: 20px 20px;
  }

  .street-any__wrapper {
    min-height: 433px;
  }

  .any-card__content {
    padding: 20px;
  }

  .floors-rent {
    padding: 20px;
  }

  .floors-rent__row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .floors-rent__text {
    margin-right: 12%;
  }

  .floors-pagination {
    max-width: 490px;
  }

  .claim__image {
    width: 70px;
    height: 70px;
  }

  .info__logo {
    margin-right: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
  }

  .info__item--none {
    display: none;
  }

  .info__item {
    min-height: 66px;
    padding: 10px 13px;
  }

  .info__item-tel {
    font-size: var(--size-any);
  }

  .nav-info__item a:not(:last-child) {
    margin-right: 14px;
  }

  .block-any__social {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .block-any__social .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-any__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 560px;
  }

  .features__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .features__end {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .features__start {
    margin-bottom: 40px;
  }

  .bank-block__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__row {
    margin: 0 -10px;
  }

  .contacts__item {
    padding: 0 10px;
  }

  .location__content {
    padding-right: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 960px) {
  .main--ind {
    margin-top: 80px;
  }

  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .content-wrapper {
    max-width: 100%;
    border-left: none;
    border-right: none;
  }

  .title-any {
    font-size: 28px;
  }

  .grid__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .text-block__content {
    font-size: 28px;
  }

  .street-any__wrapper {
    min-height: 289px;
  }

  .street-any__image {
    left: 15px;
  }

  .street-any__content {
    padding: 10px;
  }

  .street-any__small {
    font-size: 11px;
  }

  .street-any__medium {
    font-size: 35px;
  }

  .street-any__big {
    font-size: 120px;
  }

  .item-contacts__body {
    padding: 30px 20px;
  }

  .item-contacts__name {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .item-contacts__label {
    font-size: 14px;
  }

  .item-contacts__link {
    font-size: 20px;
  }

  .floors-rent__text {
    margin-right: 20px;
  }

  .claim__content {
    padding: 30px 10px 30px 30px;
  }

  .claim__image {
    width: 30px;
    height: 30px;
    right: 15px;
    top: 30px;
  }

  .claim__title {
    padding-right: 50px;
  }

  .info__top-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .info__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .stat__item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .stat__count {
    font-size: 36px;
  }

  .bank-block__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .bank-block__text {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .bank-block__images {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .location__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .location__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .info-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-location__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .info-location__item {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .form__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .claim__form {
    max-width: 350px;
  }

  .info__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .info__item:not(:last-child) {
    border: none;
  }
}

@media (max-width: 640px) {
  .title-primary {
    font-size: 40px;
  }

  .grid__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .text-block__container {
    min-height: 500px;
  }

  .text-block__content {
    font-size: 20px;
  }

  .text-block__content {
    font-size: 18px;
  }

  .text-block__social {
    margin-top: 20px;
  }

  .street-any__wrapper {
    min-height: 360px;
  }

  .street-any__info > *:not(:last-child) {
    margin-right: 20px;
  }

  .street-any__medium {
    font-size: 26px;
  }

  .street-any__big {
    font-size: 88px;
  }

  .item-contacts__name {
    font-size: 14px;
  }

  .item-contacts__link {
    font-size: 18px;
  }

  .item-contacts__block {
    margin-bottom: 20px;
  }

  .item-contacts__btn {
    font-size: 12px;
    max-width: 180px;
  }

  .floors-rent__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .floors-rent__text {
    margin-bottom: 10px;
  }

  .floors-pagination {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .floors-pagination__item {
    width: 35px;
    height: 35px;
    font-size: 13px;
  }

  .floors-pagination__item:not(:last-child) {
    margin-right: 5px;
  }

  .claim__head {
    font-size: 14px;
  }

  .info__bottom-row {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .info__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-height: 100%;
  }

  .info__item-tel {
    font-size: 14px;
  }

  .nav-info__item a {
    display: block;
  }

  .block-any__social {
    display: none;
  }

  .block-any__item {
    max-width: 100%;
  }

  .info-location__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 480px) {
  .main--ind {
    margin-top: 60px;
  }

  .title-any {
    font-size: 20px;
  }

  .popup__btn-close {
    top: 10px;
  }

  .popup__content {
    padding: 20px;
  }

  .grid__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .form__politic {
    font-size: 10px;
  }

  .street-any__wrapper {
    min-height: 300px;
  }

  .street-any__small {
    font-size: 5px;
  }

  .street-any__medium {
    font-size: 18px;
  }

  .street-any__big {
    font-size: 58px;
  }

  .floors-arrows {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .floors-arrows .arrow-slider-prev,
  .floors-arrows .arrow-slider-next {
    position: static;
    margin-top: 0;
  }

  .floors-pagination__item {
    font-size: 11px;
    width: 30px;
    height: 30px;
  }

  .claim__content {
    padding: 30px 20px;
  }

  .nav-info__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 10px;
  }

  .nav-info__item a:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .structure__title {
    font-size: 29px;
  }

  .features__title {
    font-size: 28px;
  }

  .stat__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .stat__count {
    font-size: 26px;
  }

  .contacts__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 25px;
  }

  #map {
    height: 230px;
  }
}